<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-title>ServiHub</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="d-flex-center">
    <form [formGroup]="form" class="auth-form" (ngSubmit)="ingresar()">

      <ion-icon class="servihub-icon" src="assets/icon/h.svg"></ion-icon>

      <ion-item class="custom-input" lines="none">
        <ion-icon slot="start" name="mail-outline" color="primary"></ion-icon>
        <ion-input type="email" label="Email" label-placement="floating" formControlName="email">
        </ion-input>
      </ion-item>
      <div *ngIf="form.controls.email.errors && form.controls.email.touched">
        <ion-text color="danger" *ngIf="form.controls.email.errors?.['required']">
          * Obligatorio.
        </ion-text>
        <ion-text color="danger" *ngIf="form.controls.email.errors?.['pattern']">
          Ingrese un Email válido.
        </ion-text>
      </div>

      <ion-item class="custom-input" lines="none">
        <ion-icon slot="start" name="lock-closed-outline" color="primary"></ion-icon>
        <ion-input [type]="passwordType" label="Contraseña" label-placement="floating" formControlName="password">
        </ion-input>
        <ion-button (click)="showOrHidePassword()" slot="end" fill="clear" shape="round">
          <ion-icon slot="icon-only" [name]="hide ? 'eye-outline' : 'eye-off-outline'"></ion-icon>
        </ion-button>
      </ion-item>

      <div *ngIf="form.controls.password.errors && form.controls.password.touched">
        <ion-text color="danger" *ngIf="form.controls.password.errors?.['required']">
          * Obligatorio.
        </ion-text>
      </div>

      <ion-button class="submit" expand="block" type="submit" mode="ios" [disabled]="form.invalid" (click)="ingresar()">
        Ingresar
        <ion-icon slot="end" name="log-in-outline"></ion-icon>
      </ion-button>

      <ion-button class="ion-margin-top" (click)="goToCrearCuenta()" expand="block" mode="ios" fill="outline">
        Registrarse
        <ion-icon slot="end" name="person-add-outline"></ion-icon>
      </ion-button>
    </form>
  </div>

</ion-content>