<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>ServiHub</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-img
  src="assets/images/h.png"
  alt="Logo de la App"
  class="small-image"
></ion-img>

  <ion-item>
    <h2>Iniciar Sesión</h2>
  </ion-item>

  <form [formGroup]="validarForm">
    <ion-list>
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input formControlName="email" ></ion-input>
      </ion-item>
      <div *ngIf="email?.invalid && (email?.dirty || email?.touched)">
        <ion-text color="danger" *ngIf="email?.errors?.['required']">
          * Obligatorio.
        </ion-text>
        <ion-text color="danger" *ngIf="email?.errors?.['pattern']">
          Ingrese un Email válido.
        </ion-text>
      </div>

      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password" formControlName="password" maxlength="8"></ion-input>
      </ion-item>
      <div *ngIf="password?.invalid && (password?.dirty || password?.touched)">
        <ion-text color="danger" *ngIf="password?.errors?.['required']">
          * Obligatorio.
        </ion-text>
        <ion-text color="danger" *ngIf="password?.errors?.['pattern']">
          La contraseña debe tener solo 8 Caracteres.
        </ion-text>
      </div>
    </ion-list>

    <div class="button-container">
      <ion-button class="custom-button" (click)="ingresar()">Ingresar</ion-button>
    </div>
</form>

<div class="center-content">
  <ion-button fill="clear" (click)="goToCrearCuenta()">
    <ion-label>Crea tu cuenta gratis</ion-label>
  </ion-button>
</div>

</ion-content>
