#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

/*
link de publicar
*/
ion-content {
  position: relative;
  height: 100%;
  width: 100%;
}

.center-content {
  position: absolute;
  top: 16px;
  right: 16px;
}

.centered-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  h1 {
    margin-bottom: 20px; 
  }

  ion-grid {
    width: 100%; 

    ion-col {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;

      .service-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .icon-container {
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: #0054e9;
          border: solid 1px #fff;
          color: #fff;
          width: 100px; 
          height: 100px; 
          border-radius: 50%; 
          margin-bottom: 10px; 

          ion-icon {
            font-size: 36px; 
          }
        }

        ion-label {
          font-size: 14px; 
        }
      }
    }
  }
}