<ion-header class="ion-no-border">
  <ion-toolbar color="primary">

    <ion-buttons slot="start">
      <ion-back-button text="Volver" defaultHref="/home"></ion-back-button>
    </ion-buttons>

    <ion-title>ServiHub</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
 
  <div class="centered-content">
    <h1>{{servicio}}</h1>
    <p>Reparación de circuitos eléctricos, Instalación de luces y enchufes, Mantenimiento de sistemas eléctricos</p>
  </div>

  <ion-list>
    <ion-item class="product-item">
      <ion-avatar slot="start">
        <img src="https://ionicframework.com/docs/img/demos/avatar.svg" />  
      </ion-avatar>
      <ion-label>
        <div class="name">Instalación de sistemas eléctricos </div>
        <div class="data">descripcion</div>
        <div class="data rating">
          <mat-icon>star</mat-icon>
          <mat-icon>star</mat-icon>
          <mat-icon>star</mat-icon>
          <mat-icon>star</mat-icon>
          <mat-icon>star_border</mat-icon>
        </div>
      </ion-label>
    </ion-item>
    <ion-item class="product-item">
      <ion-avatar slot="start">
        <img src="https://ionicframework.com/docs/img/demos/avatar.svg" />  
      </ion-avatar>
      <ion-label>
        <div class="name">Instalación de sistemas eléctricos </div>
        <div class="data">descripcion</div>
        <div class="data rating">
          <mat-icon>star</mat-icon>
          <mat-icon>star</mat-icon>
          <mat-icon>star</mat-icon>
          <mat-icon>star</mat-icon>
          <mat-icon>star_border</mat-icon>
        </div>
      </ion-label>
    </ion-item>
    <ion-item class="product-item">
      <ion-avatar slot="start">
        <img src="https://ionicframework.com/docs/img/demos/avatar.svg" />  
      </ion-avatar>
      <ion-label>
        <div class="name">Instalación de sistemas eléctricos </div>
        <div class="data">descripcion</div>
        <div class="data rating">
          <mat-icon>star</mat-icon>
          <mat-icon>star</mat-icon>
          <mat-icon>star</mat-icon>
          <mat-icon>star</mat-icon>
          <mat-icon>star_border</mat-icon>
        </div>
      </ion-label>
    </ion-item>
    <ion-item class="product-item">
      <ion-avatar slot="start">
        <img src="https://ionicframework.com/docs/img/demos/avatar.svg" />  
      </ion-avatar>
      <ion-label>
        <div class="name">Instalación de sistemas eléctricos </div>
        <div class="data">descripcion</div>
        <div class="data rating">
          <mat-icon>star</mat-icon>
          <mat-icon>star</mat-icon>
          <mat-icon>star</mat-icon>
          <mat-icon>star_border</mat-icon>
          <mat-icon>star_border</mat-icon>
        </div>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
