<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>VerServicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-icon name="person-circle-outline" style="font-size: 50px;"></ion-icon>

  <div class="center-content">
    <ion-button fill="clear">
      <ion-label>Publicar</ion-label>
    </ion-button>
  </div>

  <div class="centered-content">
    <h1>nombre del servicio</h1>
    <p>Reparación de circuitos eléctricos, Instalación de luces y enchufes, Mantenimiento de sistemas eléctricos</p>
  </div>

  <ion-item>
    <ion-avatar slot="start">
      <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
    </ion-avatar>
    <ion-label>
      <div>Nombre y Apellido</div>
      <div class="rating">
        <mat-icon>star</mat-icon>
        <mat-icon>star</mat-icon>
        <mat-icon>star</mat-icon>
        <mat-icon>star</mat-icon>
        <mat-icon>star_border</mat-icon>
      </div>
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-avatar slot="start">
      <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
    </ion-avatar>
    <ion-label>
      <div>Nombre y Apellido</div>
      <div class="rating">
        <mat-icon>star</mat-icon>
        <mat-icon>star</mat-icon>
        <mat-icon>star</mat-icon>
        <mat-icon>star_border</mat-icon>
      </div>
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-avatar slot="start">
      <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
    </ion-avatar>
    <ion-label>
      <div>Nombre y Apellido</div>
      <div class="rating">
        <mat-icon>star</mat-icon>
        <mat-icon>star</mat-icon>
        <mat-icon>star_border</mat-icon>
      </div>
    </ion-label>
  </ion-item>
</ion-content>
