/*
link de publicar
*/
ion-content {
    position: relative;
    height: 100%;
    width: 100%;
}
  
.center-content {
    position: absolute;
    top: 16px;
    right: 16px;
}

.centered-content {
  text-align: center;
  margin: 0 auto;
  width: 100%; 
  max-width: 600px;
  padding: 20px;
}

.centered-content h1 {
  margin-bottom: 10px;
}

.centered-content p {
  margin-top: 0;
}
  
  ion-item {
    --inner-padding-start: 16px;
    --inner-padding-end: 16px;
    --padding-top: 12px;
    --padding-bottom: 12px;
  
    ion-label {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  
    .rating {
      display: flex;
      align-items: center;
      margin-top: 4px;
  
      mat-icon {
        font-size: 20px;
        color: #ffd700; 
        margin-right: 2px;
      }
    }
  }